.aboutsectiocolor {
    background: linear-gradient(to bottom, rgba(1, 95, 229, 1), rgba(5, 52, 130, 1));
}

.aboutsectiocolor div {

    width: 85.5%;
}


#submit {
    width: "150px";
    height: "50px";
    background: linear-gradient(to bottom, #0160E7, #053480);
    margin-top: 50px;
    color: white;
}

.about-welcome {
    width: 55%;

}

.about-welcome .about-heading {
    font-size: 40px;
    font-weight: 600;
    text-align: start;
    padding-bottom: 8px;
    color: white;
}

.aboutsectiocolor .innovation {
    width: 100%;
    font-size: 22px;

}

.tecno-content {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.techno .Technology-focus-grid {
    background: white;
    max-width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.techno .Technology-focus-grid img {
    width: 70%;
    padding: 2px;
}

.contact-1 {
    width: 380px;
    margin: 0px 1.5px;
}

.contact-2 {
    width: 350px;
    margin: 0px 1.5px;
}

.contact-3 {
    width: 200px;
    margin: 0px 1.5px;
}



.leadership {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.team .name {
    font-weight: 700;
    margin: 5px;
    font-size: 22px;
    color: #053480;

}

.team .leadership-p {
    font-size: 20px;
    color: #053480;
}

.vision-man {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 229, 227);
}

.vision-man .vision-child {
    width: 85%;
    padding: 30px 0px;

}

.vision-man .card_1 {
    background-color: #053480;
    border-radius: 10px;
    margin: 40px 20px;
    padding-top: 10px;
    /* box-shadow:0.5PX 0.5PX 10PX 5PX #767677; */
    /* border: 2PX solid #053480; */
}

.vision-man .V-CARD {
    width: 100%;
    padding: 24px;
    border-radius: 5px 5px 10px 10px;
}

.vision-man .lizards {
    font-size: 22px;
    padding-top: 1rem;
}

.V-CARD .vision-heading {
    font-size: 28px;
    font-weight: 600;
    color: #053480;
    margin: 1rem;
}

@media (max-width:1440px) {
    .aboutsectiocolor .about_img {
        height: 350px;
    }

    .about-welcome .about-heading {
        font-size: 35px;

    }

    .techno .Technology-focus-grid {
        background: white !important;
        max-width: 210px;
        height: 200px;
    }

    .css-heg063-MuiTabs-flexContainer {
        gap: 15px
    }

    ;

    .techno .Technology-focus-grid img {
        width: 60%;
        padding: 1px;
    }


    .tecno-content button {
        margin: 0% !important;
        padding: 0% !important;
    }

    .aboutsectiocolor .innovation {
        font-size: 20px;

    }
}

/* 
@media (max-width:1320px) {
    #aboutsectiocolor {
        height: 290px;
    }

    #typography {
        font-size: 16px;
    }

    #about-heading {
        font-size: 30px;
    }

    #Ready {
        font-size: 25px;
    }

    #select {
        font-size: 20px;
    }

    .sir {
        height: 240px;
        width: 100%;
    }
    .techno .Technology-focus-grid {
        background: white !important;
        max-width:200px;
        height: 200px;
    }

    .techno .css-heg063-MuiTabs-flexContainer {
        gap: 12px
    }

    ;

    .techno .Technology-focus-grid img {
        width: 60%;
        padding: 1px;
    }
   
    
} */

@media (max-width:1024px) {

    .aboutsectiocolor .flex-center {
        align-items: start;
        flex-direction: column;
    }

    .aboutsectiocolor div {
        padding: 0%;
        width: 85%;
    }

    .aboutsectiocolor .innovation {
        width: 118% !important;
        font-size: 18px;

    }



    .vision-man .vision-child {
        flex-wrap: wrap;
        width: 88%;

    }

    .vision-man .lizards {
        font-size: 18px;
    }

    .V-CARD .vision-heading {
        font-size: 25px;
        font-weight: 600;
        color: #053480;
    }
    .about-welcome .about-heading {
        font-size: 30px;

    }
}


/* @media (max-width: 992px) {


    
    .sir {
        height: 180px;
    }

    .team .name {
        font-size: 15px;
    }

    .team .leadership-p {
        font-size: 14px;
    }
    #typography {
        font-size: 16px;
        text-align: center;

    }

    .about-welcome {
        width: 90%;
    }
    
    .techno .Technology-focus-grid {
        background: white !important;
        max-width:180px;
        height: 160px;
        text-align: center;
    }

    .css-heg063-MuiTabs-flexContainer {
        gap: 5px;
    }

    

    .techno .Technology-focus-grid img {
        width: 60%;
        padding: 1px;
    }
} */


/* form contorl */
@media (max-width:768px) {
    #form-control {
        box-shadow: none !important;
        width: 100%;
    }

    .about-typography {
        width: 80%;

    }

    .aboutsectiocolor div {
        width: 85% !important;
        padding: 0%;
        margin: 0%;

    }
    .about-welcome .about-heading {
        font-size: 25px;

    }

    .aboutsectiocolor img {
        margin-bottom: 30px;
    }
    .aboutsectiocolor .innovation {
        font-size: 16px;

    }
    .contact-1 {
        width: 270px;
    }

    .contact-2 {
        width: 270px;
    }

    .contact-3 {
        width: 270px;
    }

    #Ready {
        font-size: 20px;
    }

    #select {
        font-size: 18px;
    }

    .techno .tecno-content {
        width: 100%;

        display: flex;
        align-items: center !important;
        justify-content: center !important;
    }


}





@media (max-width:576px) {
    .aboutsectiocolor img {
        width:375px;
        margin-top: 0%;
        padding-top: 0%;
        margin-bottom: 0px;

    }

    .aboutsectiocolor div {
        width: 90% !important;
        padding: 0%;
        margin: 0%;

    }
    .aboutsectiocolor .innovation {
        width: 100% !important;
        font-size: 14px;

    }
    .about-welcome .about-heading {
        font-size: 20px;

    }

    .leadership .team {
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-1 {
        width: 100%;
    }

    .contact-2 {
        width: 100%;
    }

    .contact-3 {
        width: 100%;
    }

    .css-1coc09t {
        padding: 45px !important;
    }

    .vision-man .vision-child {
        width: 95%;
    }

    .vision-man .card_1 {
        margin: 10px;
    }

    .vision-man .lizards {
        font-size: 16px;
    }
}


/* form section */
/* @media (max-width:480px) {
    #form-control {
        width: 350px;
        padding: 10px;
    }

    .aboutsectiocolor img {
        width: 350px;
        margin-top: 0px;
        padding-top: 0%;
    }

    #Ready {
        font-size: 20px;
    }

    #select {
        font-size: 18px;
    }
}
 */


/* someour work2 */
/* @media (max-width:420px) {
    #heading {
        text-align: center;
    }

    #heading2 {
        font-size: 15px;
        padding: 15px 30px;
        margin: 10px;

    }

    #card {
        width: 320px;
        margin: 20px;

    }

    #form-control {
        width: 350px;
        padding: 10px;
    }

    .aboutsectiocolor img {
        width: 350px;
        margin-top: 0px;
        padding-top: 0%;
    }

} */


@media (max-width:375px) {
  
    .aboutsectiocolor img {
        height: 200px !important;
        margin-left: -40px;
        margin-bottom: 20px;
       
    }
    .aboutsectiocolor .innovation{
        font-size: 12px;
    }



    .sir {
        width: 200px;
    }

    #heading2 {
        font-size: 15px;
        padding: 15px 30px;
    }

    #cardnew {
        width: 260px;
        margin: 20px;
        height: 420px;
    }
}