.aboutsectiocolor {
    background: linear-gradient(to bottom, rgba(1, 95, 229, 1), rgba(5, 52, 130, 1));
}

.aboutsectiocolor .about_img {
    width: 400px;
    margin-right: 20PX;
}

.form-control_man .submit {
    width: "150px";
    height: "50px";
    background: linear-gradient(to bottom, #0160E7, var(--color-blue));
    margin-top: 40px;
    color: white;
}

.about-welcome {
    width: 55%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 60px;
}

.about-welcome .about-heading {
    font-size: var(--font-h3);
    font-weight: var(--font-weight);
    text-align: start;
    padding-bottom: 8px;
    color: white;
}

.subheading-box {
    display: flex;
    gap: 25px;
}

.aboutsectiocolor .innovation {
    font-size: var(--font-h6);
}

.img_ceo {
    width: 300px;
}

.tecno-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.techno {
    background: #e6f0fd;
    padding-bottom: 3px;
    width: 100%;
    margin: 0px auto;
}

.form-control .Ready {
    font-size: var(--font-h3);
}

.form-control .input {
    margin: 7px 0px;
}

.form-control .input p {
    margin-left: 1px;
}

.contact-1 {
    width: 50%;
    margin: 20px 1.5px 0px;
}

.contact-2 {
    width: 237px;
    margin: 0px 1.5px;
}

.contact-3 {
    margin: 0px 1.5px;
    padding-top: 44px;
}

.contact-3 div {
    width: 200px;
}

.leadership {
    text-align: center;
}

.leadership_box {
    margin: 20px;
}

.team {
    margin-top: 12px;
}

.team .ceo_name {
    font-weight: 700;
    margin: 5px;
    font-size: var(--font-h5);
    color: var(--color-blue);
}

.team .leadership-p {
    font-size: var(--font-h6);
    color: var(--color-blue);
}

.vision-man {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 229, 227);
}

.vision-man .vision-child {
    padding-top: 10px;
}

.vision-man .card_1 {
    background-color: var(--color-blue);
    border-radius: 10px;
    margin: 0px 0px 20px 15px;
    padding-top: 10px;
}

.vision-man .V-CARD {
    width: 100%;
    padding: 24px;
    border-radius: 5px 5px 10px 10px;
}

.vision-man .lizards {
    font-size: var(--font-h6);
    padding-top: 1rem;
}

.V-CARD .vision-heading {
    font-size: var(--font-h4);
    font-weight: var(--font-weight);
    color: var(--color-blue);
    margin: 1rem;
}

.form-control .contact_section_second {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
}

.form_about .form-control {
    width: 100%;
    border-radius: 10px;
    padding: 28px;
    margin-top: 30px;
}

.form-control .requirement-label {
    font-size: var(--font-h6);
}

.form-control .border_bottom_form {
    border-bottom: 1px solid var(--color-blue);
    width: 100%;
}

.form_control_child {
    display: flex;
    justify-content: space-between;
}

.Technology_img_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Technology_img_box img {
    margin: 12px;
    width: 220px;
}

.techno_tab button {
    font-size: var(--font-h5);
}

@media (max-width:1024px) {
    .aboutsectiocolor .flex-center {
        align-items: center;
    }

    .aboutsectiocolor .about_img {
        width: 300px;
    }

    .convert_subheading_man {
        flex-direction: column;
    }

    .convert_subheading {
        margin-top: 10px !important;
    }

    .aboutsectiocolor .innovation {
        width: 100%;
    }

    .team {
        margin-top: 8px;
    }

    .img_ceo {
        width: 220px;
    }

    .leadership_box {
        margin: 10px;
    }

    .team .ceo_name {
        margin: 3px;
    }

    .form_about .form-control {
        width: 86%;
        border-radius: 10px;
        padding: 25px;
        margin-top: 20px;
    }

    .vision-man .V-CARD {
        padding: 12px;
    }

    .vision-man .vision-child {
        flex-wrap: wrap;
        width: 100%;
    }

    .V-CARD .vision-heading {
        font-weight: var(--font-weight);
        color: var(--color-blue);
    }

    .contact-1 {
        width: 100%;
    }

    .form_about .form-control {
        width: 100%;
    }

    .form-control .contact_section_second {
        width: 70%;
    }

    .form_control_child {
        flex-wrap: wrap;
    }

    .form-control_man .submit {
        margin-top: 20px;
    }

    .Technology_img_box img {
        width: 160px;
    }

    .techno_tab button {
        font-size: var(--font-h5);
    }
}

@media (max-width:768px) {
    .aboutsectiocolor div {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

    }

    .subheading-box {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .form_about .form-control {
        width: 100%;
    }

    .form-control .contact_section_second {
        width: 100%;
    }

    .about-typography {
        width: 100%;
    }

    .about-welcome .about-heading {
        font-size: var(--font-h2);
        text-align: center;
    }

    .aboutsectiocolor .innovation {
        font-size: var(--font-h6);
    }

    .team {
        flex-wrap: wrap;
    }

    .img_ceo {
        width: 220px;
    }

    .leadership_box {
        margin: 20px;
    }

    .team .ceo_name {
        margin: 3px;
        font-size: var(--font-h5);
    }

    .team .leadership-p {
        font-size: var(--font-h6);
    }


    .contact-1 {
        width: 100%;
    }


    .techno .tecno-content {
        width: 100%;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
    }

    .form-control .Ready {
        font-size: var(--font-h3);
    }

    .form-control .requirement-label {
        font-size: var(--font-h5);
    }

    .form-control .border_bottom_form {
        width: 90%;
    }

    .contact-3 {
        padding-top: 50px;
    }

    .aboutsectiocolor .about_img {
        margin-right: 0PX;
        margin-bottom: 10PX;
    }

    .about-welcome {
        padding-left: 0px;
    }
}


@media (max-width:767px) {
    .Technology_img_box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Technology_img_box img {
        margin: 12px;
        width: 250px;
    }
}

@media (max-width:576px) {
    .form_about .form-control {
        box-shadow: none !important;
        width: 100%;
        padding: 0px;
    }

    .form-control .contact_section_second {
        padding-left: 0px;
    }


    .aboutsectiocolor .innovation {
        width: 100% !important;
    }


    .team .ceo_name {
        margin-top: 2px;
    }

    .leadership_box {
        margin: 10PX;
    }

    .form-control .input {
        margin: 7px 0px;
    }

    .contact-1 {
        width: 100%;
    }

    .contact-2 {
        width: 100%;
        margin-bottom: -25px !important;
    }

    .contact-3 {
        width: 100%;
        padding-left: 0px;
    }

    .css-1coc09t {
        padding: 45px !important;
    }

    .vision-man .V-CARD {
        padding: 8px;
    }

    .vision-man .vision-child {
        width: 100%;
    }

    .vision-man .card_1 {
        margin: 10px 0px;
    }

    .vision-man .lizards {
        padding-top: 0.5rem;
    }

    .form-control .border_bottom_form {
        width: 75%;
    }

    .V-CARD img {
        height: 40px !important;
    }

    .contact-3 {
        padding: 0px;
        padding-top: 0px;
    }

    .Technology_img_box img {
        margin: 12px;
        width: 250px;
    }

    .techno_tab div {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .techno_tab AntTabs {
        display: none;
    }
}

@media (max-width:375px) {
    .leadership_box {
        margin: 12PX;
    }

    .team .ceo_name {
        margin: 0px;
    }

    .img_ceo {
        width: 190px;
    }

    #heading2 {
        padding: 15px 30px;
    }

    #cardnew {
        width: 260px;
        margin: 20px;
        height: 420px;
    }

    .form-control .border_bottom_form {
        width: 100%;
    }
}

/* sllider */
.gallery {
    --d: 10s;
    display: grid;
    align-items: center;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, #0000, #000 10% 90%, #0000);
}

.gallery>img {
    grid-area: 1/1;
    width: 500px;
    height: 500px;
    aspect-ratio: 1.5;
    object-fit: cover;
    background-size: cover;
    background-position: top;
    animation: r var(--d) linear infinite;
}

.gallery>img:nth-child(2) {
    animation-delay: calc(1*var(--d)/-4)
}

.gallery>img:nth-child(3) {
    animation-delay: calc(2*var(--d)/-4)
}

.gallery>img:nth-child(4) {
    animation-delay: calc(3*var(--d)/-4)
}

@keyframes r {
    75% {
        transform: translate(-300%)
    }

    75.01% {
        transform: translate(100%)
    }
}


@media (max-width: 768px) {

    .gallery>img {
        width: 80%;
        height: auto;
        margin-bottom: 10px;
    }
}