.aboutsectiocolor {
    /* background-color: rgb(218, 229, 227); */
    background: linear-gradient(to bottom, rgba(1, 95, 229, 1), rgba(5, 52, 130, 1));
}

.aboutsectiocolor div {
    width: 100%;
}
.aboutsectiocolor .about_img {
    width: 400px;
}

.form-control_man .submit {
    width: "150px";
    height: "50px";
    background: linear-gradient(to bottom, #0160E7,  var(--color-blue));
    margin-top: 50px;
    color: white;
}

.about-welcome{
    width: 55%;
    display: flex;
    align-items:start;
    justify-content:center;
    flex-direction: column;
    padding: 1.5rem;
   }



.about-welcome .about-heading {
    font-size: var(--font-h3);
    font-weight: var(--font-weight);  
    text-align: start;
    padding-bottom: 8px;
    color: white;
}



.aboutsectiocolor .innovation {
    font-size:var(--font-h6);
}



.img_ceo {
   width: 300px;
}

.tecno-content {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.techno{
    background:#e6f0fd;
    padding-bottom: 3px;
    width: 100%;
    margin: 0px auto;
}


.techno .Technology-focus-grid {
    background: white;
    max-width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.techno .Technology-focus-grid img {
    width: 70%;
    padding: 2px;
}

.form-control .Ready{
       font-size: var(--font-h3);
}
.form-control .input{
    margin: 10px 0px !important;
}
.contact-1 {
    width: 50%;
    margin: 0px 1.5px;
}

.contact-2 {
    width: 270px;
    margin: 0px 1.5px;
}

.contact-3 {
    width: 180px;
    margin: 0px 1.5px;
    padding-top: 50px;
}

.leadership {
       text-align: center;
    }

.leadership_box {
    margin: 20px;
}

.team {
   margin-top: 12px;
}

.team .ceo_name {
    font-weight: 700;
    margin: 5px;
    font-size:var(--font-h5);
    color:  var(--color-blue);

}

.team .leadership-p {
    font-size:var(--font-h6);  
      color:  var(--color-blue);
}

.vision-man {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 229, 227);
}

.vision-man .vision-child {
    padding-top: 10px;

}

.vision-man .card_1 {
    background-color: var(--color-blue);
    border-radius: 10px;
    margin: 0px 15px 20px 15px;
    padding-top: 10px;
    /* box-shadow:0.5PX 0.5PX 10PX 5PX #767677; */
    /* border: 2PX solid  var(--color-blue); */
}

.vision-man .V-CARD {
    width: 100%;
    padding: 24px;
    border-radius: 5px 5px 10px 10px;
}

.vision-man .lizards {
    font-size:var(--font-h6);
    padding-top: 1rem;
}

.V-CARD .vision-heading {
    font-size: var(--font-h4);
    font-weight: var(--font-weight);  
    color:  var(--color-blue);
    margin: 1rem;
}


.form-control .contact_section_second{
width: 50%;

display: flex;
flex-wrap:wrap ;
padding-left: 20px;
}
.form_about .form-control {
    width: 100%;
   
    border-radius: 10px;
    padding: 40px;
    margin-top: 30px;
}

.form-control .requirement-label {
    font-size:var(--font-h5);
}

.form-control .border_bottom_form {
    border-bottom: 1px solid  var(--color-blue);
    width: 100%;
}
.form_control_child{
   display: flex;
   justify-content: space-between;
}


@media (max-width:1194px) {
     .contact-3{
        padding-top: 0px;
    margin: 0px;
     }
     .form-control_man .submit {
        
        margin-top: 0px;
      
    }
   
  

}


@media (max-width:1024px) {

    .aboutsectiocolor .flex-center {
        align-items: center;
    }
    .aboutsectiocolor .about_img {
        width: 300px;
    }
    .aboutsectiocolor div {
        width: 100%;
    }
    .convert_subheading_man{
          flex-direction: column;
                   
    }
    .convert_subheading{
         margin-top: 10px !important;
    }

    .aboutsectiocolor .innovation {
        width: 100% ;

    }

    .team {
       margin-top: 8px;
    }

    .img_ceo {
        height: 220px;
    }

    .leadership_box {
        margin: 10px;
    }

    .team .ceo_name {
        margin: 3px;
    }

   

    .form_about .form-control {
        width: 86%;
        border-radius: 10px;
        padding: 25px;
        margin-top: 20px;
    }
   

    .vision-man .V-CARD {
        padding: 12px;
    }
    .vision-man .vision-child {
        flex-wrap: wrap;
        width: 88%;

    }

    .V-CARD .vision-heading {
        font-weight: var(--font-weight);  
        color: var(--color-blue);
    }
    .contact-1{
        width: 100%;
    }
    .contact-3 {
        width: 200px;
        margin: 0px 1.5px;
        padding-top: 70px;
    }
    .form-control .contact_section_second{
        width: 100%;
    }
    .form_control_child{
           flex-wrap: wrap;
    }
    .form-control_man .submit {
      
        margin-top: 20px;
       
    }
    
}

@media (max-width:768px) {
    .aboutsectiocolor div{
           display: flex;
           align-items: center;
           justify-content:center;
           flex-direction: column;
           text-align: center;
           width: 100%;
    }
    .form_about .form-control {
        width: 90%;
    }

    .about-typography {
        width: 80%;
    }


    .about-welcome .about-heading {
        font-size: var(--font-h2);

    }


    .aboutsectiocolor .innovation {
        font-size:var(--font-h6);

    }

    .team {
        flex-wrap: wrap;
    }

    .img_ceo {
        height: 220px;
    }

    .leadership_box {
        margin: 20px;
    }

    .team .ceo_name {
        margin: 3px;
        font-size:var(--font-h5);  
    }

    .team .leadership-p {
        font-size:var(--font-h6);  
    }
   

    .contact-1 {
        width: 100%;
    }


    .techno .tecno-content {
        width: 100%;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
    }
    .form-control .Ready{
        font-size: var(--font-h3);
 }
    .form-control .requirement-label {
        font-size:var(--font-h5);    }

    .form-control .border_bottom_form {
        width: 90%;
    }
    .contact-3 {
        
        padding-top: 50px;
    }
  
}

@media (max-width:576px) {
    .form_about .form-control {
        box-shadow: none !important;
        width: 100%;
        padding: 0px;
    }
    .form-control .contact_section_second{
        padding-left: 0px;
    }
    .aboutsectiocolor img {
        width: 375px;
        
    }

    .aboutsectiocolor div {
        width: 100% !important;


    }

    .aboutsectiocolor .innovation {
        width: 100% !important;
    }


    .team .ceo_name {
        margin-top: 2px;
    }


    .leadership_box {
        margin: 10PX;
    }
    .form-control .input{
        margin: 7px 0px;
    }
    .contact-1 {
        width: 100%;
    }

    .contact-2 {
        width: 100%;
    }

    .contact-3 {
        width: 100%;
        padding-left: 0px;
    }

    .css-1coc09t {
        padding: 45px !important;
    }
    .vision-man .V-CARD {
        padding: 8px;
    }
    .vision-man .vision-child {
        width:100%;
    }
    
    .vision-man .card_1 {
        margin-top: 10px ;
        margin-bottom: 10px;
    }

    .vision-man .lizards {
        padding-top: 0.5rem;

    }


    .form-control .border_bottom_form {
        width: 75%;
    }
    .V-CARD img{
          height: 40px !important;
    }

    .contact-3 {
         padding: 0px;
        padding-top: 0px;
    }
    
}

@media (max-width:375px) {

    .aboutsectiocolor img {
        height: 200px !important;
        margin-left: -40px;
        margin-bottom: 20px;
    }


    .leadership_box {
        margin: 12PX;
    }

    .team .ceo_name {
        margin: 0px;
    }

    .img_ceo {
        height: 190px;
    }

    #heading2 {
        padding: 15px 30px;
    }

    #cardnew {
        width: 260px;
        margin: 20px;
        height: 420px;
    }

    .form-control .border_bottom_form {
        width: 100%;
    }
 
    
}