body {
  display: block !important;
  background-color: white ! important;
}

.blog-card {
  width: 31%;
  height: 560px;
  margin: 1.5% 1%;
}

.blog_section {
  width: 100%;
  max-width: 1200px;
  padding: 0px 20px;
}

.blogsimg {

  height: 260px;
  width: 100%;
}

#card-heading {
  font-size: var(--font-h5);
  margin: 18px 0px;
  font-weight: 600;
  color:  var(--color-blue);

}

.blog-card .card_text {
  font-size: var(--font-p2); 
   line-height: 180%;
  padding-top: 2%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.view-more {
  background: linear-gradient(to bottom, #0160E7,  var(--color-blue));
  font-size: var(--font-p2); 
  width: 200px;
  color: white !important;
}

.css-1hdy0af {
  margin-top: 0px !important;
  margin-bottom: 2rem !important;
}

.box-card .blog480-center {
 width: 100%;
 max-width: 1200px;
 padding: 0px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
  
}

.box-section {
  width:100%;
  max-width: 1200px;
  margin-bottom: 2rem;
  padding: 0px 20px;
}

.box-section .box-all-categories {
  color:  var(--color-blue);
  font-weight: 600;
  margin: 3rem 0rem;
}

.singleblogpage-man {
  max-width: 1200px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
}

.single_blog_heading{
  width: 1100px;
  margin: auto;

}
.singleblogpage-img {
  width:100%;
  max-width: 1200px !important;
  padding: 0px 20px;
}
.singlepage-section2{
  width:100%;
  max-width: 1200px !important;
  padding: 0px 20px;

}
.singleblog_text {
  /* color:  var(--color-blue); */
  font-size: var(--font-h5); 
  line-height: 2.5rem !important;
}



@media (max-width:1024px) {
  .blog-card {
    height: 440px;
    padding-bottom: 10px;
  }


  #card-heading {
    margin: 0px 0px;

  }

  .blog-card .card_text {
    line-height: 150%;
  }

  .blogsimg {

    height: 150px;
    width: 100%;

  }
  .singleblog_text {
    line-height: 1.8rem !important;
  }
  .singleblogpage-man {
    width: 100%;
   
     
   }
   .single_blog_heading{
    width: 100%;
  }
}



@media (max-width:768px) {
  .blog-card {
    height: 380px;
    width:45%;

  }
  
.blog_section{
  justify-content: space-evenly;
}


  #card-heading {
    font-size: var(--font-h5);
  }

  .blog-card .card_text {
    font-size: var(--font-p2); 
    line-height: 160%;
  }

  .blogsimg {
    
    height: 180px;
  }
  .singleblogpage-img {
    width: 100%;

}
.singlepage-section2{
  width: 100%;

}

.singleblog_text {
  font-size: var(--font-h5); 
  line-height: 1.5rem !important;
  word-break: break-all;
}
}




@media (max-width:576px) {
  .blog_section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-card {
    height: 380px;
    width:100%;
    margin: 20px;
    

  }

  .blogsimg {
    height: 190px;
  }

  .css-1ohe0vz {

    padding: 0% !important;
  }

  .all-pg420 {
    width: 100%;
  }
  .singleblog_text {
    line-height: 1.3rem !important;
    word-break: break-all;
  }
}

@media (max-width:375px) {
  .singleblog_text {
    line-height: 1.2rem !important;
    word-break: break-all;
  }
}