.apply-now-Team {
     background: linear-gradient(to bottom, #0160E7, #053480);
     font-size: 15px;
     width: 110px;
     margin-left: 20px !important;
     margin-bottom: 30px !important;
     color: white !important;
}

.career-pregraph {
     width: 70%;
}

#Hr-excutive {
     font-size: 32px;
     font-weight: 600;
}

.we-man {
   width: 85%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.we-man .we-img-section{
    height: 500px;
}
.we-man .we-img{
     width: 100%;
     height: 100%;
}
.we-man .growing{
     width: 60%;
     padding: 0px 1.5rem;
}

.growing .gorw-p1{
    font-size: 48px;
    font-weight: 600;
    color: #053480;
    text-align:start;
    margin-bottom: 2rem ;
}   

.growing .gorw-p2{
     font-size: 22px;
     text-align:start;
     margin: 2rem 0rem ;
 
 }  
 .we-man .grow-email{
      text-decoration:none ;
      font-size: 18px;
      display: block;
 }

@media (max-width:1600px) {
    
#Hr-excutive {
     font-size: 25px;
    
}

.we-man .we-img-section{
     height: 400px;
 }

 .we-man .growing{
      width: 50%;
      padding: 0px 1.5rem;
 }
 
 .growing .gorw-p1{
     font-size: 40px;
         margin-bottom: 1rem ;
 }   
 
 .growing .gorw-p2{
      font-size: 20px;
     
      margin: 1.5rem 0rem ;
  
  }  
  .we-man .we-img{
     width: 100%;
     height: 90%;
}
  
 
}



@media (max-width:1300px) {
    
     #Hr-excutive {
          font-size: 22px;
     }
     
     .we-man .we-img-section{
          height: 300px;
      }
     
      .we-man .growing{
           width: 50%;
           padding: 0px 1.5rem;
      }
      
      .growing .gorw-p1{
          font-size: 30px;
              margin-bottom: 1rem ;
      }   
      
      .growing .gorw-p2{
           font-size: 18px;
          
           margin: 1.5rem 0rem ;
       
       }  
     
      
     }




@media (max-width:1080px) {
     .career-pregraph {
          width: 100%;
     }
     #Hr-excutive {
          font-size: 22px;
         
     }
      
     .we-man .we-img-section{
          height: 300px;
        
      }
     
      .we-man .growing{
           width: 45%;
           padding: 0px 0.5rem;
      }
      
      .growing .gorw-p1{
          font-size: 20px;
              margin-bottom: 1rem ;
      }   
      
      .growing .gorw-p2{
           font-size: 12px;
          
           margin: 1rem 0rem ;
       
       } 
      .we-man .grow-email{
         
          font-size: 15px ;
         
     } 
    

}
 
@media (max-width:720px) {
     .we-man {
          display: flex;

          align-items: center;
          justify-content: center;
          flex-direction: column !important;
     }
     #Hr-excutive {
          font-size: 20px;
         
     } 
     
 .we-man .growing{
     width: 90%;
     padding: 0px 1.5rem;
}

.growing .gorw-p1{
    font-size: 20px;
        margin-bottom: 1rem ;
}   

.growing .gorw-p2{
     font-size: 13px;
    
     margin: 1rem 0rem ;
 
 }  


}

@media (max-width:576px) {
     #Hr-excutive {
          font-size: 18px;
         
     }
     .we-man .growing{
          width: 100%;
          padding: 0px 0.2rem;
     }
     .we-man .grow-email{
         
          font-size: 13px ;
         
     } 
    
}
@media (max-width:480px) {
     #Hr-excutive {
          font-size: 14px;
         
     }
     .we-man .we-img-section{
          height: 100%;
        
      }
     
    
      
      .growing .gorw-p1{
          font-size:16px;
              margin-bottom: 0.5rem ;
      }   
      
      .growing .gorw-p2{
           font-size: 10px;
          
           margin: 0.5rem 0rem ;
       
       } 
      .we-man .grow-email{
         
          font-size: 11px ;
         
     } 
      
    
}


.css-sox5kk-MuiBackdrop-root {
     
     background-color: rgba(252, 250, 250, 0.525) !important;
}

.css-10botns-MuiInputBase-input-MuiFilledInput-input {
     /* padding: 0% !important; */
     /* margin:0px  !important; */
}