#heading-child {
  color:  var(--color-blue);
  margin-bottom: 30px;
  font-weight: 600;
  font-size:var( --font-h3);
}

#blog-pading-top {
  padding-top: 10px;
}

.categories-box {
  width: 23%;
  height: 350px;
  margin: 1rem 0px;
  border: 3px solid  var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(----font-Weight);

}

#categories-box-typo {
  font-size: var(--font-h2);
  color:  var(--color-blue);
}

#date-title {
  width: 280px;
  color:  var(--color-blue);
  line-height: 1.3rem;
  font-size: var(--font-h6);
}


.careertoggle{
  width: 100%;
  padding: 0.5rem;
}
.careertoggle .Hr-excutive {
  font-size: var(--font-h5);
  font-weight: 600;
  

}
.careertoggle .add-icon{
 color: #0160E7 ;
 font-size: var(--font-h3);
}

.content-toggle{
     padding: 0px 1.5rem;
}
.content-toggle .toggle-typo{
    font-weight: 600;}
.margin-left-1{
   margin-left: 1rem;
}
.content-toggle .dot{
  font-size: var(--font-h4);
  margin-top: -5PX;
  margin-right: 5PX;
 
}
.content-toggle .D-CENTER{
    display: flex;
    align-items:START;
     margin: 7px 0px;
}
.css-ncxqys{
     margin-top: -18px !important;
}
.css-1ie2n2a{
    margin-top: -5px !important;
    width: 85% !important;
}
.css-15v22id-MuiAccordionDetails-root{
  padding: 0px !important;
}


@media (max-width:1600px) {

  .categories-box {
    width: 23%;
    height: 250px;
    margin: 8px;
  }

  #categories-box-typo {
    color:  var(--color-blue);
  }


  .content-toggle .toggle-typo{
    font-weight: 600;}

}

@media (max-width:1300px) {

  .categories-box {
    width: 23%;
    height: 200px;
  }

  #categories-box-typo {
    color:  var(--color-blue);
  }
 
  .content-toggle .toggle-typo{
    font-weight: 600;}
}


@media (max-width:1024px) {

  .categories-box {
    width: 21%;
    height: 150px;


  }

 
  .content-toggle .toggle-typo{
    font-weight: 600;}

}

@media (max-width:768px) {

  .categories-box {
    width: 22%;
    height: 120px;
  }

  #categories-box-typo {
    font-size: var(--font-h2);
  }
  #date-title {
    font-size: var(--font-h6); 
   }

  .careertoggle .Hr-excutive {
    font-size: var(--font-h3);
  
  }
}

 @media (max-width:576px) {

  .categories-box {
    width: 200px;
    height: 200px;
  }


 
} 


body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f0faf8;
}

.title-gallery {
  display: flex;
  text-align: center;
  font-size: var(--font-h5);
  padding-bottom: 10px;
}



.container {
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper {
  position: relative;
}


.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
  list-style: none;
 margin-top: 40px;
  overflow-x: auto;
  scrollbar-width: none;
  border-radius: 1rem;
 
 
 
}


.slider-wrapper .image-list .image-item {
  width:250px;
  height: 230px;
  object-fit: cover;
  border :2px solid  var(--color-blue);
  margin: 20px 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}

@media (max-width:520px) {
  .box-center{
   
      display: flex;
      align-items: center;
      justify-content: center;
  }

}

.slider-wrapper .image-list {

  scroll-snap-type: x mandatory;
}

@media only screen and (max-width: 1600px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 0px 0px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 180px;
    height: 180px;
   
  }

}
 

@media only screen and (max-width: 1200px) {
  
  .slider-wrapper .image-list .image-item {
    width: 150px;
    height: 150px;
  }


}

@media only screen and (max-width: 768px) {
 
  .slider-wrapper .image-list .image-item {
    width: 120px;
    height: 120px;
  }
}



.title-gallery {
  display: flex;
  text-align: center;
  padding-bottom: 0px;
}