.map-img {
    background-size: cover;
    background-position: "center";
    object-fit: cover;
    width: 100%;

}

.contact_form {
    display: flex;
    align-items: center;
    justify-content: center !important;
    width: 75% !important;
}



.contact_form .GETINTOUCH {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}


.contact_form .GETINTOUCH1 {
    padding: 3rem 3rem;
    width: 60%;
}

.contact_form .GETINTOUCH2 {
    background: linear-gradient(to bottom, #0160E7, #053480);
    border-radius: 0 18px 18px 0px;
    padding: 4rem;
    width: 40%;

}

.get_in_touch P {
    text-align: start;
    font-size: 18px;
    align-items: center;
}



.contact_form .shadow-section {
    border-radius: 20px;
    margin: 50px 0px;
    box-shadow: 0px 0px 20px 1px gray;
}

.contact .about-soham {
    font-size: 40px;
    font-weight: 600;
    color: #053480;
    text-align: center;
    margin: 2rem 0rem;
}

.get_in_touch_heading {
    font-size: 32px !important;
    color: white;
    font-weight: 600 !important;

}

.email_phone_heading {
    font-size: 25px !important;
    margin: 10px 0px 3px 0px !important;
    color: white !important;
}

@media (max-width:1440px) {

    .contact_form {
        width: 80% !important;
    }

    .contact_form .GETINTOUCH1 {
        padding: 3rem 2rem;
        width: 55%;
    }

    .contact_form .GETINTOUCH2 {
        background: linear-gradient(to bottom, #0160E7, #053480);
        border-radius: 0 18px 18px 0px;
        width: 45%;

        

    }


    .contact .about-soham {
        font-size: 35px;
        margin: 2rem 0rem;
    }

    .get_in_touch_heading {
        font-size: 24px !important;

    }

    .email_phone_heading {
        font-size: 20px !important;
        font-weight: 600 !important;
        margin: 10px 0px 0px 0px !important;
    }

    .get_in_touch P {
        text-align: start;
        font-size: 17px;
        align-items: center;
    }

}




@media (max-width:1024px) {

    .contact_form {
        display: flex;
        align-items: center;
        justify-content: center !important;
        width: 92% !important;
    }

    .contact_form .GETINTOUCH1 {
        padding: 3rem 2rem;
        width: 100%;
    }

    .contact_form .GETINTOUCH2 {
        background: linear-gradient(to bottom, #0160E7, #053480);
        border-radius: 0px 0px 18px 18px;
        padding: 4rem;
        width: 100%;

    }
    .contact .about-soham {
        font-size: 30px;
        margin: 1rem 0rem;
    }

    .get_in_touch_heading {
        font-size: 25px !important;
    }

    .email_phone_heading {
        font-size: 18px !important;
        font-weight: 600 !important;
        margin: 10px 0px 0px 0px !important;
    }

    .get_in_touch P {
        text-align: start;
        font-size: 14px;
        align-items: center;
    }
}

@media (max-width:768px) {
    .contact_form {

        width: 100% !important;
    }

    .contact_form .GETINTOUCH1 {
        padding: 0.5rem 1rem;
        width: 100%;
    }

    .contact_form .shadow-section {
        border-radius: 0px;
        margin: 0px 0px;
        box-shadow: none;
    }

    .contact_form .GETINTOUCH2 {
        border-radius: 0%;
    }

    .get_in_touch_heading {
        font-size: 20px !important;
    }

    .email_phone_heading {
        font-size: 16px !important;
        font-weight: 600 !important;
        margin: 10px 0px 0px 0px !important;
    }

    .get_in_touch P {
        font-size: 12px;
    }
    .contact .about-soham {
        font-size: 25px;
        margin: 1rem 0rem;
    }
}

@media (max-width:576px) {
    .get_in_touch_heading {
        font-size: 18px !important;
    }

    .email_phone_heading {
        font-size: 14px !important;
        font-weight: 600 !important;
        margin: 10px 0px 0px 0px !important;
    }

    .get_in_touch P {
        font-size: 11px;
    }
    .contact .about-soham {
        font-size: 20px;
        margin: 0.5rem 0rem;
    }
}


@media (max-width:375px) {
    .contact_form {

        width: 100% !important;
    }

    .contact_form .GETINTOUCH2 {
        border-radius: 0px;
        width: 100%;
        padding: 2rem;

    }
    .contact .about-soham {
        font-size: 18px;
        margin: 0rem 0rem;
    }
    .get_in_touch_heading {
        font-size: 18px !important;
    }

    .email_phone_heading {
        font-size: 14px !important;
        font-weight: 600 !important;
        margin: 10px 0px 0px 0px !important;
    }

    .get_in_touch P {
        text-align: start;
        font-size: 12px;
        align-items: center;
    }
}