.map-img {
    background-size: cover;
    background-position: "center";
    object-fit: cover;
    width: 100%;

}
.contact_form{
       display: flex;
       align-items: center;
       justify-content: center !important;
       width:75% !important;
}
.css-pnoqa4-MuiTypography-root{
    font-size: 45px !important;
}
.css-9kz9b5 {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.contact_form .GETINTOUCH {
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 

}


.contact_form .GETINTOUCH1{
       padding: 3rem 7rem;
       width: 60%;
}
.contact_form .GETINTOUCH2 {
    background: linear-gradient(to bottom, #0160E7, #053480);
    border-radius: 0 18px 18px 0px;
  padding: 4rem; 
  width: 40% ;
 
}
.get_in_touch P{
    text-align: start;
    font-size: 18px;
    align-items: center;
}

.contact .about-soham {
    font-size: 40px;
    font-weight: 600;
    color: #053480;
    text-align: center;
     margin: 2rem 0rem;
} 
.contact_form .shadow-section{
   border-radius: 20px;
     margin: 50px 0px;
    box-shadow: 0px 0px 20px 1px gray;
}

@media (max-width:1600px) {
    .css-191zsrp-MuiTypography-root{
        font-size: 38px !important;
    }
    
.contact .about-soham {
    font-size: 25px;
        margin: 1.5rem 0rem;
} 

}


@media (max-width:1350px) {
   

    .contact_form .GETINTOUCH1 {
        padding: 0rem 2rem ;

    }

    .contact_form .GETINTOUCH2 {
        border-radius: 17px;
    }
    .css-pnoqa4-MuiTypography-root{
        font-size: 35px !important;
    }
    .contact .about-soham {
        font-size: 22px;
            margin: 1.5rem 0rem;
    } 
    
   

}


@media (max-width:1080px) {
    
    .contact_form{
        display: flex;
        align-items: center;
        justify-content: center !important;
        width:92% !important;
 }
.contact_form .GETINTOUCH1{
    padding: 3rem 2rem;
    width: 100%;
}
.contact_form .GETINTOUCH2 {
 background: linear-gradient(to bottom, #0160E7, #053480);
 border-radius: 0px  0px 18px 18px;
padding: 4rem; 
width: 100% ;

}
}
@media (max-width:768px) {
    .contact_form{
        
        width:100% !important;
 }
 .contact_form .GETINTOUCH1{
    padding: 0.5rem 1rem;
    width: 100%;
}
.contact_form .shadow-section{
    border-radius: 0px;
      margin: 0px 0px;
     box-shadow: none;
 }
 .contact_form .GETINTOUCH2{
    border-radius: 0%;
 }
}


@media (max-width:375px) {
    .contact_form{
        
        width:100% !important;
 }
 .contact_form .GETINTOUCH2 {
    border-radius: 0px;
   width: 100% ;
   padding: 1rem; 

   }
}
