* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Georgia, serif;

}

.width1920 {
    max-width: 1920px;
    margin: auto;
}

.text-decortion {
    text-decoration: none;
}



.padding-top-bottom {
    padding: 4rem 0rem !important;

}

/* Heading */
#Heading-h2 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    background: linear-gradient(90deg, #0160E7 10.17%, #053480 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.flex-coulmn{
    flex-direction: column;
}


.header .fontSize14 {
    font-size: 16px;
}

.fontSize16 {
    font-size: 16px;
}

.color-white {
    color: white;
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-coulmn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-between-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-evenly-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#h4 {
    font-size: 25px;

}


#typography {
    margin: 0.5px;
    font-size: 16px;
    color: white;
}

#Typography-gray {
    font-size: 22px;
    color: gray;
    text-align: center;
}

.Typography-gray-career {
    font-size: 22px;
    color: gray;
    text-align: start;
  

}
.display-flex{
    display: flex;
}

#Typography-black {
    font-size: 22px;
    color: black;
    text-align: center;
}

#display-align-justi-Wrap {
    display: "flex";
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#display-align-justi {
    display: "flex";
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



@media (max-width:1600px) {
    #Heading-h2 {
        font-size: 35px ;
    }

    #h4 {
        font-size: 20px ;
    }

    #Typography-gray {
        font-size: 55px !important;
    }

    #Typography-black {
        font-size: 16px;
    }

    #typography {
        font-size: 13px !important;
    }

    .header {
        height: 45px;
    }

    .header .fontSize14 {
        font-size: 12px;
    }
    .padding-top-bottom {
        padding: 3.2rem 0rem !important;
    
    }
    
 
  

}


@media (max-width:1080px) {
    #Heading-h2 {
        font-size: 37px;
    }
    .padding-top-bottom {
        padding: 2rem 0rem !important;
    
    }
   
    .Typography-gray-career {
        font-size: 17px ;
        width: 100%;
    
    }

}

@media (max-width:768px) {
    #Heading-h2 {
        font-size: 30px;
    }

    #Typography-gray {
        font-size: 18px;
    }

    #Typography-black {
        font-size: 18px;
    }

    #typography {
        font-size: 18px;
    }

    #h4 {
        font-size: 28px;

    }
    .Typography-gray-career {
        font-size: 14px ;
    
    }
}

.css-iqley6-MuiTypography-root{
    padding: 0% !important;
}


@media (max-width:576px) {
    #Heading-h2 {
        font-size: 30px;
    }

    #h4 {
        font-size: 25px;
    }
    .Typography-gray-career {
        font-size: 12px ;
        
    
    }
}

@media (max-width:480px) {


    #Typography-gray {
        font-size: 16px;
    }

    #Typography-black {
        font-size: 12px;
        width: 90%;
        padding: 0% !important;
    }

    #typography {
        font-size: 16px;
    }
}

@media (max-width:375px) {
    #Heading-h2 {
        font-size: 25px;
        
    }

    #h4 {
        font-size: 20px;
    }

    #typography {
        font-size: 12px;
    }

}


.bg-img{
    background-image: url("../assets/AboutSection1/about-background.svg") ;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
     background-color:#E6edf3; 
     object-fit: cover;
     
  }
   

  .css-1d9rq06-MuiTypography-root {
    margin-top: 0% !important;
  }
  
  .journey{
       width: 100%;
       padding-bottom: rem;
  }
