/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: SNPro !important;
}
 @font-face {
    font-family: SNPro;
    src: url(SNPro/SNPro-Medium.otf);
 } 
  */

/* * */
/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Serotiva !important;
}
 @font-face {
    font-family: Serotiva;
    src: url(Serotiva/Serotiva-Regular.otf);
 }  */


/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: allen-sans !important;
}
 @font-face {
    font-family: allen-sans;
    src: url(allen-sans/AllenSans-Regular.ttf);
 } 
  */


/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gully-sans !important;
}
 @font-face {
    font-family: gully-sans;
    src: url(gully-sans/Gully-SCDRegular-BF663990cbba6f2.otf);
 }  */



/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Albert_Sans !important;
}
 @font-face {
    font-family:Albert_Sans;
    src: url(Albert_Sans/AlbertSans-VariableFont_wght.ttf);
 }  */

/* 2* */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Inter_Tight !important;
}

@font-face {
    font-family: Inter_Tight;
    src: url(Inter_Tights/InterTight-VariableFont_wght.ttf);
}



/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Serotiva-Font-Fanily !important;
}
 @font-face {
    font-family:Serotiva-Font-Fanily;
    src: url(Serotiva-Font-Fanily/Serotiva-Regular-BF6639850925daa.otf);
 }  */



:root {
    --font-h1: 48px ;
    --font-h2: 40px;
    --font-h3: 32px;
    --font-h4: 26px;
    --font-h5: 22px;
    --font-h6: 20px;
    --font-p1: 16px;
    --font-p2: 14px;
    --font-p3: 12px;
    --color-blue: #053480 !important;
    --font-weight: 600 !important;

}




.width1920 {
    max-width: 1920px;
    margin: auto;
}

.text-decortion {
    text-decoration: none;
    /* color: white !important; */
}



.padding-top-bottom,
.primary-heading {
    padding: 25PX 0rem !important;
}

.primary-heading,
.secondary_heading {
    font-size: var(--font-h1) !important;
    font-weight: 600 !important;
    text-align: center;
    background: linear-gradient(90deg, #0160E7 10.17%,  var(--color-blue) 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.secondary_heading {
    font-size: var(--font-h2) !important;
    padding: 22px 16px 15px 16px;
    font-weight: 600 !important;

}

.primary_subheading {
    font-size: var(--font-h6) !important;
}

.text_color_blue {
    color: var(--color-blue) ;
}




.flex_wrap {
    flex-wrap: wrap;
}

.flex-coulmn {
    flex-direction: column;
}


.header .fontSize14,
.fontSize16 {
    font-size: var(--font-p1);
}



.color-white {
    color: white;

}


.flex-center,
.flex-between,
.flex-between-wrap,
.flex-center-coulmn,
.flex-evenly-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-coulmn {

    flex-direction: column;
}

.flex-between,
.flex-between-wrap {
    justify-content: space-between;
}

.flex-between-wrap, .flex-evenly-wrap {
    flex-wrap: wrap;
}

.flex-evenly-wrap {

    justify-content: space-evenly;
   
}



#typography {
    margin: 0.5px;
    font-size: var(--font-p1);
    color: var(--color-blue);
}



.display-flex-start {
    display: flex;
    align-items: center;
    flex-direction: start;

}


/* 
#display-align-justi-Wrap {
    display: "flex";
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#display-align-justi {
    display: "flex";
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */

@media (max-width:1440px) {
    .primary-heading {
        padding: 17px 0rem !important;
    }

    .secondary_heading {
        padding: 15px 16px 10px 16px;

    }
}





@media (max-width:1024px) {
    .primary-heading {
        padding: 12px 0rem !important;

    }

    .secondary_heading {
        padding: 12px 16px 6px 16px;

    }

    .padding-top-bottom {
        padding: 13px 0rem !important;

    }


}

@media (max-width:768px) {


    :root {
        --font-h1: 36px ;
        --font-h2: 30px;
        --font-h3: 22px;
        --font-h4: 18px;
        --font-h5: 16px;
        --font-h6: 14px;
        --font-p1: 12px;
        --font-p2: 10px;
        --font-p3: 9px;
    }


    .primary-heading {
        font-size: var(--font-h1);

        padding: 10px 0px;

    }

    .secondary_heading {
        font-size: var(--font-h2);
        padding: 10px 16px 4px 16px;

    }

    .primary_subheading {
        font-size: var(--font-h6);
    }





    #typography {
        font-size: var(--font-p1);
    }


}

.css-iqley6-MuiTypography-root {
    padding: 0% !important;
}



@media (max-width:375px) {

    .secondary_heading {
        padding: 0.8rem 0.5rem 0.5rem 0.5rem;

    }
}

.bg-img {
    background-image: url("../assets/AboutSection1/about-background.svg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #E6edf3;
    object-fit: cover;

}


.css-1d9rq06-MuiTypography-root {
    margin-top: 0% !important;
}

.journey {
    width: 100%;
}


/* submenu bar toogle cross icon */
.cross_icon {
    margin-left: 10px;
}