* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Georgia, serif;

}

.width1920 {
    max-width: 1920px;
    margin: auto;
}

.text-decortion {
    text-decoration: none;
    /* color: white !important; */
}



.padding-top-bottom {
    padding: 4rem 0rem !important;
} 

.primary-heading {
    font-size: 70px !important;
    font-weight: 600 !important;
    text-align: center;
    background: linear-gradient(90deg, #0160E7 10.17%, #053480 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 4rem 0rem;
}


.secondary_heading {
    font-size: 56px !important;
    font-weight: 600 !important;
    text-align: center;
    background: linear-gradient(90deg, #0160E7 10.17%, #053480 70%);
     background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2.5rem 1rem  2rem 1rem;
    /* background-color: yellow !important; */

}

.primary_subheading {
    font-size: 22px !important;
}
.text_color_blue{
    color: #053480 !important;
}




.flex_wrap{
    flex-wrap: wrap;
}

.flex-coulmn {
    flex-direction: column;
}


.header .fontSize14 {
    font-size: 16px;
}

.fontSize16 {
    font-size: 16px;
}

.color-white {
    color: white;
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-coulmn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-between-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-evenly-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#h4 {
    font-size: 25px;

}


#typography {
    margin: 0.5px;
    font-size: 16px;
    color: #053480;
}

#Typography-gray {
    font-size: 22px;
    color: gray;
    text-align: center;
    background-color: violet;
}

.Typography-gray-career {
    font-size: 22px;
    color: gray;
    text-align: start;


}

.display-flex {
    display: flex;
}



#display-align-justi-Wrap {
    display: "flex";
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#display-align-justi {
    display: "flex";
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width:1440px) {
    .primary-heading {
        font-size: 60px !important;
        padding: 3rem 0rem;

    }

    .secondary_heading {
        font-size: 50px !important;
        padding: 2rem 1rem  1.5rem 1rem;

    }

    .primary_subheading {
        font-size: 18px !important;
    }

}





@media (max-width:1024px) {
    .primary-heading {
        font-size: 50px !important;
        padding: 2rem 0rem;

    }

    .secondary_heading {
        font-size: 45px !important;
        padding: 2rem 0.5rem  1.5rem 0.5rem;

    }

    .primary_subheading {
        font-size: 16px !important;
    }





    .padding-top-bottom {
        padding: 2rem 0rem !important;

    }


}

@media (max-width:768px) {
    .primary-heading {
        font-size: 45px !important;
        padding: 1rem 0rem;

    }

    .secondary_heading {
        font-size: 40px !important;
        padding: 1.5rem 0.5rem  1rem 0.5rem;

    }

    .primary_subheading {
        font-size: 16px !important;
    }





    #typography {
        font-size: 18px;
    }

    #h4 {
        font-size: 28px;

    }


}

.css-iqley6-MuiTypography-root {
    padding: 0% !important;
}


@media (max-width:576px) {
    .primary-heading {
        font-size: 40px !important;
    }

    .secondary_heading {
        font-size: 35px !important;
    }

    .primary_subheading {
        font-size: 14px !important;
    }



    #h4 {
        font-size: 25px;
    }

   
}

@media (max-width:375px) {

    .primary-heading {
        font-size: 30px !important;
    }

    .secondary_heading{
        font-size: 25px !important;
        padding: 0.8rem 0.5rem  0.5rem 0.5rem;

    }

    .primary_subheading {
        font-size: 12px !important;
        
    }








    #h4 {
        font-size: 20px;
    }

    #typography {
        font-size: 12px;
    }

}


.bg-img {
    background-image: url("../assets/AboutSection1/about-background.svg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: #E6edf3;
    object-fit: cover;

}


.css-1d9rq06-MuiTypography-root {
    margin-top: 0% !important;
}

.journey {
    width: 100%;
    padding-bottom: rem;
}