.service {
    background: linear-gradient(to right, #0160E7,  var(--color-blue));
}

.service-box {
    width: 200px ;
    margin: 0.5rem 1rem;
    height: 80px;
    border-radius: 13px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-p1);
    color:  var(--color-blue);
    padding: 2px;

}
.service-box img{
      margin: 10px ;
}

.service-box p{
   font-size: var(--font-p3) ;
}



@media (max-width:1440px) {
    .service-box {
        width: 180px;
        padding: 40px;
        padding-left: 10PX;

    }
}

@media (max-width:1024px) {
    .service-box {
        width: 140px;
        height: 60px;
        padding: 20px !important;
        padding-left: 10PX;

    }
}

@media (max-width:768px) {
    .service-box {
        width: 200px;
        font-size: var(--font-p1);
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}


