.service_primary_section .service-man {
    width: 100%;
}

.service-man .service_container_one {
    margin: 3rem 0rem;
    max-width: 1200px;

}

.service-man .service_container_tow_man {
    width: 100%;
    background-color: #E6F0Fd;
}

.service-man .service_container_two {
    margin: 3rem 0rem;
    max-width: 1200px;
}

.service-man .devlopment-text {
    width: 42%;
}

.devlopment-text .service-logo {
    height: 65px !important;
    margin-bottom: 1rem;
}

.service-man .service_container_one img {
    height: 400px;

}

.service-man .service_container_two img {
    height: 400px;
}

.service-man .service_secondary-heading {
    font-size: 42px;
    color: #053480;
    font-weight: 600;
}

.service-man .service_text {
    font-size: 20px;
    color: gray;
    padding: 1rem 0px;
}

.service-man .btn_apply_now {
    background: linear-gradient(to bottom, #0160E7, #053480);
    font-size: 18px !important;
    width: 150px;
    height: 50px;
    color: white !important;
    margin-top: 10px;
    text-transform: capitalize;

}

.background-service {
    width: 580px;
    height: 460px;
    background-image: url("../assets/Service/background-service.svg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

.service-man .devlopment-text {
    width: 42%;
}

.project-requirement {
    background-image: url("../assets/Service/background-last.png");
    height: 450px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.view-more {
    margin-top: 20px !important;
    height: 45px;
}
.get_the_best{
    color: white;
    font-size:42px !important;
}

@media (max-width:1440px) {

    .service-man .service_container_one {
        max-width: 860px;
    }

    .service-man .service_container_two {
        max-width: 860px;

    }
    .devlopment-text .service-logo {
        height: 60px !important;
    }
    

    .service-man .devlopment-text {
        width: 42%;
    }

    .service-man .service_container_one img {
        height: 320px;
    }

    .service-man .service_container_two img {
        height: 320px;
    }

    .service-man .service_secondary-heading {
        font-size: 36px;
    }

    .service-man .service_text {
        font-size: 18px;
        padding: 0.5rem 0px;
    }

    .service-man .btn_apply_now {
        background: linear-gradient(to bottom, #0160E7, #053480);
        font-size: 16px !important;
        width: 130px;
        height: 40px;
    }

    .background-service {
        width: 415px;
        height: 330px;
    }

    .service-man .devlopment-text {
        width: 50%;
    }

    .project-requirement {
        height: 320px;
    }
    .view-more {
        margin-top: 20px !important;
        height: 45px;
    }
    .get_the_best{
        color: white;
        font-size:38px !important;
    }
}

@media (max-width:1024px) {

    .service-man .service_container_one {
        max-width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .service-man .service_container_two {
        max-width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
   
    .service-man .devlopment-text {
        width: 100% !important;
    }

    .service-man .service_container_one img {
        height: 320px;
    }

    .service-man .service_container_two img {
        height: 320px;
    }

    .service-man .service_secondary-heading {
        font-size: 32px;
    }

    .service-man .service_text {
        font-size: 16px;
        padding: 0.5rem 0px;
    }

    .background-service {
        width: 500px;
        height: 400px;
    }
    .project-requirement {
        height: 250px;
    }
    .view-more {
        margin-top: 10px !important;
        height: 45px;
    }
    .get_the_best{
        color: white;
        font-size:32px !important;
    }
    .service-man .btn_apply_now {
        font-size: 16px !important;
        
    }
}

@media (max-width:768px) {
    .service-man .devlopment-text {
        width: 100% !important;
    }

    .service-man .service_container_one img {
        height: 300px;
    }

    .service-man .service_container_two img {
        height: 300px;
    }

    .service-man .service_secondary-heading {
        font-size: 28px;
    }
    .devlopment-text .service-logo {
        height: 50px !important;
    }
    
    .service-man .service_text {
        font-size: 14px;
    }

    .background-service {
        width: 450px;
        height: 360px;
    }
    .project-requirement {
        height: 200px;
    }
    .view-more {
        margin-top: 10px !important;
        height: 40px;
        width: 170px;
    }
    .get_the_best{
        color: white;
        font-size:25px !important;
    }
    .service-man .btn_apply_now {
        font-size: 15px !important;
        width: 130px;
        height: 38px;
    }

}

@media (max-width:576px) {
    .service-man .service_container_one {
        margin: 2rem 0rem;

    }

    .service-man .service_container_two {
        margin: 2rem 0rem;

    }

    .service-man .service_container_one img {
        height: 200px;
    }

    .service-man .service_container_two img {
        height: 200px;
    }

    .service-man .service_secondary-heading {
        font-size: 28px;
    }

    .service-man .service_text {
        font-size: 14px;
    }

    .background-service {
        width: 320px;
        height: 250px;
    }
    .project-requirement {
        height: 180px;
    }
    .view-more {
        margin-top: 10px !important;
        height: 40px;
        width: 170px;
    }
    .get_the_best{
        color: white;
        font-size:22px !important;
        text-align: center;
    }
    
.service-man .btn_apply_now {
    font-size: 14px !important;
    width: 120px;
    height: 35px;
}
}



@media (max-width:375px) {
    .service-man .service_container_one img {
        height: 180px;
    }

    .service-man .service_container_two img {
        height: 180px;
    }

    .service-man .service_secondary-heading {
        font-size: 24px;
    }

    .service-man .service_text {
        font-size: 12px;
    }

    .background-service {
        width: 280px;
        height: 220px;
    }
    .project-requirement {
        height: 150px;
    }
    .view-more {
        margin-top: 10px !important;
        height: 35px;
        width: 150px;
    }
    .get_the_best{
        color: white;
        font-size:18px !important;
    }
}