.background-service {
    width:580px;
    height: 460px;
    background-image: url("../assets/Service/background-service.svg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-position: center;
  
}
.service-new .service-man{
    width: 100%;
}
.man_s_bg{
    background: #e6f0fd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.service-man .man-reverce1 img{
     height:420px;
    
}
.service-man .man-reverce2 img{
    height:420px;
}
.service-man .Typo-gray-start {
    font-size: 20px;
    color: gray;
    padding: 1rem 0px;
}

.service-man .typo-fray-hrading {
    color: #053480;
    font-size: 42px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}

.service-man .apply-now {
    background: linear-gradient(to bottom, #0160E7, #053480);
    font-size: 18px !important;
    width: 150px;
    height: 50px;
    color: white !important;
    margin-top: 10px;
}
.service-man .devlopment-text {
    width: 42%;
}
.service-man .man-reverce1  {
       margin: 2rem 0rem;
       width: 70%;
       display: flex;
       align-items: center;
       justify-content:space-between;

}

.service-man .man-reverce2 {
    margin: 3rem 0rem;
width: 70%;
display: flex;
align-items: center;
justify-content:space-between;
}

.service-icon{
    background: linear-gradient(to right, #0160E7, #053480 , #053480,#0160E7);
    width: 61px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 1rem;

}
.service-icon svg{
      font-size: 120px;
      color: white;
      padding: 10px;

}



@media (max-width:1600px) {
  

    .service-man .devlopment-text {
        width: 450PX;
    }


   
    .service-man .typo-fray-hrading {
        font-size: 30px;
    }
    .service-man .Typo-gray-start {
        font-size: 18px;
        padding: 0.5rem 0px;
    }
    .service-man .background-service {
        
        width: 510px;
        height: 400PX;

    }
    .service-man .background-service img {
        height:300px ;
    }
   
    
.service-man .apply-now {
   
    font-size: 16px !important;
    width: 120px;
    height: 40px;
    color: white !important;
    margin-top: 5px;
}
}


@media (max-width:1450px) {
  

    .service-man .devlopment-text {
        width: 360PX;
    }


   
    /* .service-man .typo-fray-hrading {
        font-size: 30px;
    } */
    /* .service-man .Typo-gray-start {
        font-size: 16px;
        padding: 0.5rem 0px;
    } */
    .service-man .background-service {
        width: 510px;
        height: 400PX;

    }
    .service-man .background-service img {
        height:300px ;
    }
   
    
.service-man .apply-now {
   
    font-size: 16px !important;
    width: 120px;
    height: 40px;
    color: white !important;
    margin-top: 5px;
}
}

@media (max-width:1310px) {
    .service-man .man-reverce1   {
        width: 75%;
    }

    .service-man .man-reverce2 {
        /* height: 380PX; */
        width: 75%;
    }
    
    .service-man .devlopment-text {
        width: 360PX;
    }
 
   
    .service-man .typo-fray-hrading {
        font-size: 28px;

    } 
    .service-man .Typo-gray-start{
        font-size:14px;
    }
    .service-man .background-service {
        width: 480px;
        height: 380PX;
    }

    .service-man .background-service img {
        height: 220px ;
    }


 }

 @media (max-width:1186px) {
    .service-man .man-reverce1   {
        width: 85%;
    }

    .service-man .man-reverce2 {
        width: 85%;
    }
    .service-man .typo-fray-hrading {
        font-size: 28px;

    } 
    .service-man .Typo-gray-start{
        font-size:14px;
    }
    .service-man .background-service {
        width: 400px;
        height: 320PX;
    }

    .service-man .background-service img {
        height: 270px ;
    }


 }




 
@media (max-width:900px) {
    .service-man .man-reverce1{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .service-man .man-reverce2 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .service-man .devlopment-text{
        width: 350PX;
    }

    .service-man .man-reverce1  {
        margin: 2rem 0rem;
 }
 
 .service-man .man-reverce2 {
     margin: 2rem 0rem;
 }

    .service-man .typo-fray-hrading {
        font-size: 22px;

    }


    .service-man .Typo-gray-start {
        font-size: 18px;
        padding: 8px 0px;
    }
    .service-man .devlopment-text {
        width: 100%;
    }
    .service-man .background-service {
        width: 500px;
        height: 400PX;
    }

    .service-man .background-service img {
        height: 90% ;
    }
} 

 @media (max-width:576px) {
   
    .service-man .background-service {
        width:380px;
        height: 300PX;
    }
    .service-man .background-service img {
        height:80% ;
    }
    .service-man .Typo-gray-start {
        font-size: 16px;
       
    }
    .service-man .man-reverce1  {
        margin: 3rem 0rem;
        width: 90%;
 }
 
 .service-man .man-reverce2 {
     margin: 2rem 0rem;
     width: 90%;
 }
    

 }

 @media (max-width:400px) {
  
    .service-man .background-service {
        width:290px;
        height: 230PX;
    }
    .service-man .background-service img {
        height:80% ;
        
    }
    .service-man .Typo-gray-start {
        font-size: 14px ;
       
    }
    .service-man .man-reverce1  {
        margin: 2rem 0rem;
 }
 
 .service-man .man-reverce2 {
     margin: 2rem 0rem;
 }
   
 }
