
.sc-beySPh div {
    display: flex;
}

.sc-dmyCSP svg{
     width:60px;
     display: flex;
     padding-left: 20px;
}
.sc-guDLey{
    display: flex;
    align-items: center;
    margin-left: 0%;

}


/* servicesMenu.css */
/* servicesMenu.css */

.main_menu {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 300px; 
    margin: 0 auto; 
  }
  
  .sub_menu {
    padding-left: 15px; 
  }
  
  .angleIcon {
    transition: transform 0.8s ease; 
  }
  