
.blank_man {
  width: 150px;
  height:500px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: wheat;
}
.child_blank{
  background-color: tomato;
  height: 800px;
}

@media (max-width:1440px) {
  .blank_man {
    display: none;
  }


}

@media (max-width:1020px) {

  .about-welcome {
    width: 100%;

  }

  #about-heading {
    margin: auto;
  }
}




/* lamp */
.inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  height: 150px;
}

.light_holder {
  /* position: absolute; */
  top: 0;
 /* width: 100%; */
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light {
  /* position: absolute; */
  width: 400px;
  /* height: 200px; */
  clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
}

.inner:hover .light {
  background: linear-gradient(109.6deg, rgba(61, 120, 176, 0.547) 11.3%, rgba(35, 65, 164, 0.723) 91.1%);
}