.footer{
background-color: #053480;
}


.footer-sec1 {
    width: 20%;
    margin: 1rem;
}

.footer-sec1 p {
    margin-top: 1rem;
    color: "red";
    font-size: 16px;
   
}
.footer-sec-icon{
   width: 200px;
   margin-top: 1.2rem;
   
}

.footer-sec2 {
    width: 15%;
    margin: 1rem;
}
.footer-sec2 p {
   width: 200px;
   margin: 3rem;
}

#footer-h3 {
 font-size: 30px;
 font-weight: 600;
 margin-bottom: 1rem;
}

.footer-sec3 {
    width: 20%;
    margin: 1rem;

}

.footer-sec4 {
    width: 20%;
    margin: 1rem;

}
.footer2-box a{
  margin: 7px 0px !important;
  

}
.footer3-box p{
   margin: 9px 0px !important;

 
 }
 .footer .copyright{
        background-color:#297df2;
        width: 100%;
        padding: 2px;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align:center;
        color: white;
            
 }
 .copyright .copyright-child{

    width: 88%;
      display:  flex;
      align-items: center;
      justify-content: space-between;
 }
 .copyright-privacy{
           width: 220px;
           display: flex;
           align-items: center;
           justify-content: space-between;
 }
 .copyright-privacy .copy-border{
    border-bottom: 1px solid white;
    
 }

 @media (max-width:1750px) {
 
       #footer-h3{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 1rem;
       }
 }

@media (max-width:1600px) {
   #footer-h3 {
       font-size: 22px;
       font-weight: 600;
       margin-bottom: 1rem;
     }
     .footer .copyright p{
       font-size: 14px;
        padding: 1.5px;
        
        
 }

}

@media (max-width:1420px) {
    .footer-sec1 {
        width: 230px;
        margin: 1rem;

    }
    .footer-sec1 p {
      
        font-size: 13px !important;
       
    }
    .footer-sec3 p {
      
        font-size: 13px !important;
       
    }
    .footer-sec4 p {
      
        font-size: 13px !important;
       
    }
    
    
    
    #footer-h3 {
       font-size: 20px;
       font-weight: 600;
       margin-bottom: 1rem;
     }

    .footer-sec1 p {
        margin-top: 1rem;
        color: "red";
        font-size: 15px;
    }

    .footer-sec2 {
        width: 150px;
        margin: 1rem;
    }

    .footer-sec3 {
        width: 208px;
        margin: 1rem;
    }

    .footer-sec4 {
        width:25% !important;
        margin: 1rem;

    }
    .footer .copyright p{
        font-size: 12px;
         padding: 1.5px;
         
         
  }
}

@media (max-width:1080px) {

    .footer-sec4 {
        width:100% !important;
        margin: 1rem;
 
    }
    #footer-h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 1rem;
      }
  
}


@media (max-width:800px) {
   .footer-sec1 {
       width: 300px;
       margin: 1rem;


   }
 

   .footer-sec1 p {
       margin-top: 1rem;
       color: "red";
       font-size: 15px;
   }

   .footer-sec2 {
       width:250px;
       margin: 1rem;
   }

   .footer-sec3 {
       width: 300px;
       margin: 1rem;
   }

   .footer-sec4 {
       width:250px !important;
       margin: 1rem;

   }
   .footer .copyright p{
    font-size: 12px;
     padding: 1.5px;
     
     
}
}




@media (max-width:720px) {
    .footer-sec1 {
        width: 300px;
        margin: 1rem;
 
 
    }
    #footer-h3 {
       font-size: 15px;
       font-weight: 600;
       margin-bottom: 1rem;
     }
 
 
 
    .footer-sec2 {
        width:100%;
        margin: 1rem;
        
    }
 
    .footer-sec3 {
        width: 100%;
        margin: 1rem;
    }
 
    .footer-sec4 {
        width:100% !important;
        margin: 1rem;
 
    }
    .copyright .copyright-child{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .copyright-privacy{
        width:30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
 }


 @media (max-width:480px) {
    .copyright-privacy{
        width:40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
 }
 
 @media (max-width:375px) {
    .copyright-privacy{
        width:50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
 }
 
 
 
 /* .home-main-1 > .footer    {
      padding-top: 30px !important;
 } */