.footer{
   background-color:  var(--color-blue)}


.footer-sec1 {
    width: 20%;
    margin: 1rem;
}

.footer-sec1 p {
    margin-top: 1rem;
    color: "red";
    font-size: var(--font-p2);
   
}
.footer-sec-icon{
   width: 190px;
   
}

.footer-sec2 {
    width: 15%;
    margin: 1rem;
}
.footer-sec2 p {
   width: 200px;
   margin: 3rem;
}

#footer-h3 {
 font-size: var(--font-h4);
 font-weight:600;
 margin-bottom: 1rem;
}

.footer-sec3 {
    width: 20%;
    margin: 1rem;

}

.footer-sec4 {
    width: 20%;
    margin: 1rem;

}
.footer2-box a{
  margin: 7px 0px !important;
  color: white;

}
.footer3-box p{
   margin: 9px 0px !important;

 
 }


 .footer .copyright{
        background-color:#297df2;
        width: 100%;
        padding: 2px;
        font-size: var(--font-p2);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align:center;
        color: white;
            
 }
 .copyright .copyright-child{

    width: 88%;
      display:  flex;
      align-items: center;
      justify-content: space-between;
 }
 .copyright-privacy{
           width: 220px;
           display: flex;
           align-items: center;
           justify-content: space-between;
 }
 .privacy_man{
    width: 64%;
}
.privacy_man .terms_conditon_heading{
    font-size: var(--font-p2);
   font-weight: 700;
   margin:  0 0 20px;
   color:#606060;
   
}
.privacy_man .terms_conditon_content{
    font-size: var(--font-p2);
   color:#606060;
   margin:  0 0 20px ;
}
.privacy_man li{
      margin: 11px 0px;
}


@media (max-width:1440px) {
    .footer-sec1 {
        width: 230px;
        margin: 1rem;

    }
   
   
    
    
    
    #footer-h3 {
       font-weight: 600;    
          margin-bottom: 1rem;
     }

    .footer-sec1 p {
        margin-top: 1rem;
        color: "red";
    }

    .footer-sec2 {
        width: 150px;
        margin: 1rem;
    }

    .footer-sec3 {
        width: 208px;
        margin: 1rem;
    }

    .footer-sec4 {
        width:25% !important;
        margin: 1rem;

    }
    .footer .copyright p{
         padding: 1.5px;
         
         
  }
}

@media (max-width:1024px) {

    .footer-sec4 {
        width:100% !important;
        margin: 1rem;
 
    }
    #footer-h3 {
        font-weight: 600;      
          margin-bottom: 1rem;
      }
  
}


@media (max-width:768px) {
   .footer-sec1 {
       width: 300px;
       margin: 1rem;


   }
 

   .footer-sec1 p {
       margin-top: 1rem;
       color: "red";
       font-size:var(--font-h6);
   }

   .footer-sec2 {
       width:250px;
       margin: 1rem;
   }

   .footer-sec3 {
       width: 300px;
       margin: 1rem;
   }

   .footer-sec4 {
       width:250px !important;
       margin: 1rem;

   }
   .footer .copyright p{
    font-size: var(--font-p1);
     padding: 1.5px;
     
     
}
}




@media (max-width:576px) {
    .footer-sec1 {
        width: 300px;
        margin: 1rem;
 
 
    }
    #footer-h3 {
       font-weight: 600;     
         margin-bottom: 1rem;
     }
 
 
 
    .footer-sec2 {
        width:100%;
        margin: 1rem;
        
    }
 
    .footer-sec3 {
        width: 100%;
        margin: 1rem;
    }
 
    .footer-sec4 {
        width:100% !important;
        margin: 1rem;
 
    }
    .copyright .copyright-child{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .copyright-privacy{
        width:30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.footer-sec-icon{
    width: 150px;
    
 }
.footer-sec-icon img{
    height:25px;
}
 }


 @media (max-width:375px) {
    .copyright-privacy{
        width:40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
 }
 
 @media (max-width:375px) {
    .copyright-privacy{
        width:50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
 }
 
 
 