@media (max-width:900PX) {
    .header{
        display: none;
    }
}
.header-responsive{
    width: 85%;
}

.header img{
       height: 12px;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
background: linear-gradient(to right, #0160E7, #053480);
}

.icon-border{
    border: 1px solid white;
    padding: 1px;
}