@media (max-width:1020PX) {
    .header{
        display: none;
    }
}
.header-responsive{
    width: 85%;
}

.header img{
       height: 12px;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
background: linear-gradient(to right, #0160E7, #053480);
}

.icon-border{
    border: 1px solid white;
    padding: 1px;
}


.dropdown_menu {
     display:none;
     }
 .ul-box:hover .dropdown_menu { 
    display: block;
 }