.home {
    max-width: 1920px;
    margin: auto;
    background-color: #E6f0fd;
}

.home .home-continer {
    padding-top: 5rem;
    width: 85.5%;
}

.home-continer .home-content {
    max-width: 850px;
}

.home-content .home-h1 {
    font-size: 70px;
    font-weight: 600 ;
}

.home-content .home-p1 {
    font-size: 25px;
    padding-top: 2rem;
    max-width: 700px;

}

.schadule-meeting .home-p2{
    font-size: 25px;
    font-weight: 600;
    margin-right: 15px;
}

.home-content .schadule-meeting {
    display: flex;
    margin-top: 2.5rem;

}
.home .home-img {
    height: 540px;
}
.home-lastSection{
    width: 85.5%;
    padding: 1.5rem 0px;
}
.home-lastSection p{
    font-weight: 600;
    font-size: 16px;
}
.schadule-meeting .Aroow_right{
    font-size: 40px;
}


@media (max-width:1440px) {
    .home-continer {
        padding-top: 3.3rem;
        width: 85%;
    }

    .home-content .home-h1 {
        font-size: 50px;
        width: 90%;
    }

    .home-content .home-p1 {
        font-size: 22px;
        width: 90%;
        padding-top: 1.5rem;

    }

    .schadule-meeting .home-p2 {
        font-size: 20px;
    }

    .home .home-img {
        max-height: 420px;
    }

    .home-content .schadule-meeting {
        margin-top: 1.5rem;
    }

    .home .home-continer {
        padding-top: 3rem;
    }

}

/* @media (max-width:1024px) {
    .home-content .home-h1 {
        font-size: 35px;
        max-width: 450px;
    }

    .home-content .home-p1 {
        font-size: 18px;
        max-width: 450px;
        padding-top: 0.5rem;

    }

    .schadule-meeting .home-p2 {
        font-size: 16px;
    }

    .home .home-img {
        height: 300px;
    }

    .home .home-continer {
        padding-top: 2rem;
    }
    .home-lastSection p{
                font-size: 12px;
    }
    .home-content .schadule-meeting {
        margin-top: 0.2rem;
    }
} */


@media (max-width:1024px) {
    .home-continer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-direction: column-reverse;
       
    }
    .home-continer .home-content{
          width: 100%;
          padding-top: 2rem;
    }
    .home-content .home-h1 {
        font-size: 35px;
        max-width:100%;
    }

    .home-content .home-p1 {
        font-size: 18px;
        width:80% ;
        padding-top: 1.5rem;

    }

    .schadule-meeting .home-p2 {
        font-size: 16px;
    }

    .home .home-img {
        height: 450px !important;
        
    }

    .home .home-continer {
        padding-top: 2rem;
    }
    .home-lastSection p{
                font-size: 12px;    
    }
    .home-content .schadule-meeting {
        margin-top: 1rem;
    }
   .home .home-lastSection{
         margin-top: 2rem;
    }
    .schadule-meeting .Aroow_right{
        font-size: 30px;
    }
}



 
@media (max-width:768px) {
    .home .home-continer {
        padding-bottom: 2rem;
    }
    .home-content .home-h1 {
        font-size: 30px;
    }

    .home-content .home-p1 {
        font-size: 18px;
        width: 100%;
    }

    .schadule-meeting .home-p2 {
        font-size: 16px;
    }

    .home .home-img {
        height: 250px;
    }

    .home-lastSection {
        display: none;
    }
    .home .home-img {
        height: 350px !important;
        
    }
} 



@media (max-width:576px) {
    .home .home-continer {
        padding-bottom: 2rem;
    }
    .home-content .home-h1 {
        font-size: 25px;
    }

    .home-content .home-p1 {
        font-size: 16px;
        width: 100%;
    }

    .schadule-meeting .home-p2 {
        font-size: 14px;
    }    
    .home .home-img {
        height: 280px !important;
        
    }
    .schadule-meeting .Aroow_right{
        font-size: 22px;
    }
}


@media (max-width:375px) {
    .home .home-continer {
        padding-bottom: 2rem;
    }
    .home-content .home-h1 {
        font-size: 24px;
    }

    .home-content .home-p1 {
        font-size: 15px;
        width: 100%;
    }

    .schadule-meeting .home-p2 {
        font-size: 13px;
    }    
    .home .home-img {
        height: 240px !important;
        
    }
    .schadule-meeting .Aroow_right{
        font-size: 22px;
    }
}
