.home {
    max-width: 1920px;
    margin: auto;
    background-color: #E6f0fd;
}

.home .home-continer {
    padding-top: 5rem;
    width: 85.5%;
    /* max-width: 1200px;
    padding: 50px 20px;
    align-items: flex-start; */
}

.home-continer .home-content {
    max-width: 850px;
}

.home-content .home-h1 {
    font-size: var(--font-h1);
    font-weight: 600;
}

.home-content .home-p1 {
    font-size: var(--font-h5);
    padding-top: 2rem;
    max-width: 700px;
    font-weight: 600;

}

.schadule-meeting .home-p2 {
    font-size: var(--font-h5);
    font-weight: 600;  
      margin-right: 15px;
}

.home-content .schadule-meeting {
    display: flex;
    margin-top: 2.5rem;

}

.home .home-img {
    height: 540px;
    box-shadow: 0px 0px 20px 0px #395889;
}

.home-lastSection {
    width: 85.5%;
    padding: 1.5rem 0px;
}

.home-lastSection p {
    font-weight: 600; 
       font-size: var(--font-p1);
}

.schadule-meeting .Aroow_right {
    font-size: var(--font-h3);
}


/* heading */


.slider {
    height: 600px;
    background-color: #293132;
    text-align: center;
    position: relative;
    animation: slideColor 10s forwards infinite;
}

.caption {
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
    margin-left: -300px;

}

.text-box {
    display: inline-block;
    position: relative;
}

.text-box div {
    display: inline-block;
    position: absolute;
    top: -200px;
    transform: rotateX(-90deg);
    opacity: 0;
    /* text-shadow: 0px 5px 5px rgba(0,0,0,.25); */
    animation-timing-function: ease;
}

.text-box div:nth-child(1) {
    animation: rollDown 10s forwards infinite;
    margin-top: 30px;
}

.text-box div:nth-child(2) {
    animation: rollDown2 10s forwards infinite;
    margin-top: 30px;
}

.text-box div:nth-child(3) {
    animation: rollDown3 10s forwards infinite;
    margin-top: 30px;
}

@keyframes rollDown {
    0% {
        top: -200px;
        transform: rotateX(-90deg);
    }

    11% {
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }

    22% {
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }

    33% {
        top: 50px;
        transform: rotateX(30deg);
        opacity: 0;
    }
}

@keyframes rollDown2 {
    33% {
        top: -200px;
        transform: rotateX(-90deg);
    }

    44% {
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }

    55% {
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }

    66% {
        top: 50px;
        transform: rotateX(30deg);
        opacity: 0;
    }
}

@keyframes rollDown3 {
    66% {
        top: -200px;
        transform: rotateX(-90deg);
    }

    77% {
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }

    88% {
        top: -74px;
        transform: rotateX(0deg);
        opacity: 1;
    }

    99% {
        top: 50px;
        transform: rotateX(30deg);
        opacity: 0;
    }
}

@keyframes slideColor {
    0% {
        background-color: #387780;
    }

    33% {
        background-color: #3f88c5;
    }

    66% {
        background-color: #588b8b;
    }

    100% {
        background-color: #387780;
    }
}

@media (max-width:1440px) {
    .home-continer {
        padding-top: 3.3rem;
        width: 85%;
    }

    .home-content .home-h1 {
        width: 90%;
    }

    .home-content .home-p1 {
        width: 90%;
        padding-top: 1.5rem;

    }



    .home .home-img {
        max-height: 420px;
    }

    .home-content .schadule-meeting {
        margin-top: 1.5rem;
    }

    .home .home-continer {
        padding-top: 3rem;
    }

}

@media (max-width:1024px) {
    .home-continer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* flex-direction: column-reverse; */

    }

    .home-continer .home-content {
        width: 100%;
        padding: 32px 0px 20px 0px;
        
    }

    .home-content .home-h1 {
        max-width: 100%;
    }

    .home-content .home-p1 {
        width: 80%;
        padding-top: 1.5rem;

    }



    .home .home-img {
        height: 450px !important;
       

    }

    .home .home-continer {
        padding-top: 2rem;
    }

    .home-content .schadule-meeting {
        margin-top: 1rem;
    }

    .home .home-lastSection {
        margin-top: 2rem;
    }

}




@media (max-width:768px) {
    .home .home-continer {
        padding-bottom: 2rem;
    }

    .home-content .home-h1 {
        font-size: var(--font-h1);

    }

    .home-content .home-p1 {
        font-size: var(--font-h5);
        width: 100%;
    }

    .schadule-meeting .home-p2 {
        font-size: var(--font-h5);
    }

    .home .home-img {
        height: 250px;
    }

    .home-lastSection {
        display: none;
    }

    .home .home-img {
        height: 350px !important;

    }
    .text-box div:nth-child(1) {
        margin-top: 40px;
    }
    
    .text-box div:nth-child(2) {
        margin-top: 40px;
    }
    
    .text-box div:nth-child(3) {
        margin-top: 40px;
    }
}



@media (max-width:576px) {
    .home .home-continer {
        padding-bottom: 2rem;
    }


    .home-content .home-p1 {
        width: 100%;
    }

    .home .home-img {
        height: 280px !important;

    }

   
}


@media (max-width:375px) {

  
    .home .home-continer {
        padding-bottom: 2rem;
    }


    .home-content .home-p1 {
        width: 100%;
    }

    .home .home-img {
        height: 240px !important;
    }

}