

.header
.header-responsive {
    width: 100%;
    max-width: 1200px;
    padding: 0px 20px;
}

.header img{
    height: 12px;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
background: linear-gradient(to right, #0160E7, #053480);
}

.icon-border{
 border: 1px solid white;
 padding: 1px;
}


/* / navbar / */
.navbar {
    z-index: 2;
    background-color: var(--color-blue);
}

.navbar .flex-center {
    width: 100%;
}

.navbar .navbar-height {
    height: 90px;
    width: 100%;
    max-width: 1200px;
    padding: 0px 20px;

}
/* .dropdown_menu a {
    display: block;
    transition: transform 2.5s ease;
    }
    
    .dropdown_menu a:hover {
    transform: translateX(10px);
    } */
.ul-box {
    display: flex;
    align-items: top;
    margin: 0%;
}

.fontSize16 {
    color: white;
    text-decoration: "none";
    font-size: var(--font-p2) !important;

}

.down-arrow {
    width: 12px;
    margin: 6px;
}

.navbar .hire-button {
    width: 170px;
    color: white;
    height: 50px;
    font-size: var(--font-p1);
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
}

.navbar .hire-button:hover {
    background-color: white;
    color: var(--color-blue);
    font-weight: var(--font-weight);
    box-shadow: 0px 0px 5px 2px rgb(147, 147, 147);

}



.dropdown_menu {
    display: none;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 100%;
    right: -160px;
    width: 250px;
    color: #053480;
    border: 1px solid #ccc;

    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    } 
    
   
    .service_child_menu:hover .dropdown_menu {
    display: block;
    max-height: 500px; 
    opacity: 1;
    animation: dropdownAnimation 0.9s ease-in-out;
    }
    
    @keyframes dropdownAnimation {
    0% {
    max-height: 0;
    opacity: 0;
    }
    50% {
    max-height: 250px; 
    opacity: 0.5;
    }
    100% {
    max-height: 500px;
    opacity: 1;
    }
    }
    

.dropdown_menu ul{
   display: flex;
   flex-direction: column;
   list-style-type:none;
   margin-top: 15px;
   margin-bottom: 15px;
   margin-left: 10px;

}



@media (max-width:1024px) {
    .navbar .navbar-height {
        height: 70px;
    }

    .sws-logo {
        width: 160px;
    }


    .navbar .hire-button {
        width: 140px;
        color: white;
        height: 40px;
    }

    .down-arrow {
        width: 8px;
        margin: 6px;
    }

}

/* / header / */
@media (max-width:900PX) {
    .header{
        display: none;
    }
}
