.navbar {
    z-index: 2;
    max-width: 1920px;
    background-color: #053480;
    margin: auto;
}

.navbar .flex-center {
    width: 100%;
}

.navbar .navbar-height {
    height: 90px;
    width: 86%;
}

.ul-box {
    display: flex;
    align-items: top;
    margin: 0%;
}

.fontSize16 {
    color: white;
    text-decoration: "none";
    font-size: 16px !important;
 
}

.down-arrow {
    width: 12px;
    margin: 6px;
}

.navbar .hire-button {
    width: 170px;
    color: white;
    height: 50px;
    font-size: 18px;
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
}

.navbar .hire-button:hover {
    background-color: white;
    color: #053480;
    font-weight: 700;
    box-shadow: 0px 0px 5px 2px rgb(147, 147, 147);
}
.dropdown_menu {
    display:none;
    }
.service_child_menu:hover .dropdown_menu { 
   display: block;
}

@media (max-width:1500px) {
    .navbar .navbar-height {
        height: 70px;
        width: 86%;
    }

    .sws-logo {
        width: 140px;
            }
    .fontSize16 {
               font-size: 13px !important;
         }

    .navbar .hire-button {
        width: 140px;
        color: white;
        height: 40px;
        font-size: 16px;
    }
    .down-arrow {
        width: 8px;
        margin: 6px;
    }
   
}