.our-utality-p {
    width: 60%;
    text-align: center;
}


.web-devlopment P {
    font-size: 18px;
    line-height: 16px;
}

.web-devlopment {
    flex-wrap: wrap;
    width: 68%;
}

.web-devlopment .box_utility{
     border: 2px solid #6e92cb;
     width: 22%;
      height: 220px;
      text-align: center;
      transition: box-shadow 0.3s ease-in-out;
      border-radius: 10px;
      padding: 10px;

}
 .box_utility:hover {
  box-shadow:  0px 0px 10px 0px #053480;
  box-shadow: 0 0 10px 0 #053480;
  transition: 0.3s ease-in;


}


.zoom-img {
    display: block;
    height: 60px;
    object-fit: cover; 
    transition: transform 0.5s ease-in; 
    margin-bottom: 20px;
}

.box_utility:hover .zoom-img {
    transform: scale(1.1); /* Zoom effect on hover */

}



@media (max-width:1440px) {
    .web-devlopment {
        width: 70% !important;
    }


    .web-devlopment img {
        height: 45px;
    }

    .web-devlopment P {
        font-size: 14px !important;

    }
    .web-devlopment .box_utility{
        border: 2px solid #6e92cb;
        width: 22%;
         height: 160px;
         text-align: center;
         transition: box-shadow 0.3s ease-in-out;
         border-radius: 10px;
   
   }
  
    .our-utality-p {
        width: 65%;
    }

}



@media (max-width:1024px) {
    .web-devlopment {
        width: 85% !important;
    }
    .web-devlopment .box_utility{
        width: 22%;
         height: 150px;
         border-radius: 5px;
         padding: 5px;
   
   }

    .web-devlopment img {
        height: 40px;
    }

    .web-devlopment P {
        font-size: 15px !important;

    }

    /* .web-devlopment div {
        width: 150px !important;
        margin: 8px 5px;
    } */
    .our-utality-p {
        width: 73%;
    }
}


@media (max-width:768px) {
    .web-devlopment {
        width: 70% !important;
    }



    .web-devlopment img {
        height: 50px;
    }

    .web-devlopment P {
        font-size: 16px !important;

    }
  .web-devlopment .box_utility{
        width: 45%;
         height: 160px;
        padding: 10px;
        margin: 10px 10px;
   
   }
 
    .our-utality-p {
        width:85%;
    }

}







@media (max-width:576px) {
    .web-devlopment {
        width: 90% !important;
        justify-content: center;
    }



    .web-devlopment img {
        height: 50px;
    }

    .web-devlopment P {
        font-size: 14px !important;

    }
  .web-devlopment .box_utility{
        width: 45%;
         height: 160px;
        padding: 10px;
        margin: 10px 10px;
   
   }
 
    .our-utality-p {
        width:85%;
    }


}


@media (max-width:375px) {
   
    .web-devlopment .box_utility{
        width:150px;
         height: 150px;
        padding: 10px;
        margin: 10px 10px;
   
   }
    .web-devlopment P {
        font-size: 16px;
    }
}