.our-utality-p {
    width: 75%;
    text-align: center;
    padding-top: 2rem;
}

.oru {
    background-color: yellowgreen;
}

.margin2{
    margin:2px ;
}
.web-devlopment P {
    width: 120px;
    font-size: 16px;
    margin: 1px;
    line-height: 16px;
    
 
  
}

.web-devlopment{
    flex-wrap: wrap;
    padding: 3rem 0rem 0rem 0rem;
    width: 70%;
}

.web-devlopment img {
      margin-right: 10px;
     
    
}


@media (max-width:1500px) {
    .web-devlopment{
          width: 80%;
    }
 
 
    .web-devlopment img {
        height: 40px;
        
    }

    .web-devlopment P {
        font-size: 16px;
        
      
    }
    .web-devlopment div{
        width: 180px;
        margin: 5px;
       
    
    }
}


@media (max-width:1340px) {
    .web-devlopment{
          width: 80% !important;
    }
 
 
    .web-devlopment img {
        height: 35px;
    }

    .web-devlopment P {
        font-size: 14px !important; 
      
    }
    .web-devlopment div{
        width: 145px !important;
        margin: 8px 1px;
         
    
    } 

}



@media (max-width:920px) {
    .web-devlopment{
          width: 80% !important;
    }
 
 
    .web-devlopment img {
        height: 40px;
    }

    .web-devlopment P {
        font-size: 15px !important; 
      
    }
    .web-devlopment div{
        width:180px !important;
        margin: 8px 5px;
      
         
    
    } 

}







@media (max-width:480px) {
    .web-devlopment {
        width:80%;
      
        display: flex;
        align-items: center;
        justify-content: center;
      
    }
    
    .web-devlopment div {
        width: 200px !important;
 
     
    }
    .our-utality-p {
        width: 380px;
    }
    .web-devlopment img {
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10PX;
        margin-right: 10px;
        width: 100%;
    }

    .web-devlopment P {
        font-size: 16px !important;
        width: 350px;
    }


}


@media (max-width:375px) {
    .our-utality-p {
        width:90%;
    }

    .web-devlopment img {
        height: 50px;
    }

    .web-devlopment P {
        font-size: 16px;
        width: 120px;
        

    }
}