.our-utality-p {
    width: 65%;
    text-align: center;
}


.web-devlopment P {
    width: 120px;
    font-size: 16px;
    line-height: 16px;



}

.web-devlopment {
    flex-wrap: wrap;
    width: 70%;
}

.web-devlopment img {
    margin-right: 10px;


}



@media (max-width:1440px) {
    .web-devlopment {
        width: 77% !important;
    }


    .web-devlopment img {
        height: 35px;
    }

    .web-devlopment P {
        font-size: 14px !important;

    }

    .web-devlopment div {
        width: 145px !important;
        margin: 8px 1px;


    }
    .our-utality-p {
        width: 70%;
    }

}



@media (max-width:1024px) {
    .web-devlopment {
        width: 85% !important;
    }


    .web-devlopment img {
        height: 40px;
    }

    .web-devlopment P {
        font-size: 15px !important;

    }

    .web-devlopment div {
        width: 150px !important;
        margin: 8px 5px;
    }
    .our-utality-p {
        width: 73%;
    }
}


@media (max-width:768px) {
    .web-devlopment {
        width: 80% !important;
    }


    .web-devlopment img {
        height: 50px;
    }

    .web-devlopment P {
        font-size: 16px !important;

    }

    .web-devlopment div {
        width: 220px !important;
        margin: 12px 5px;

    }
    .our-utality-p {
        width:85%;
    }

}







@media (max-width:576px) {
    .web-devlopment {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .web-devlopment div {
        width: 220px !important;
    }

   

    .web-devlopment img {
        height: 40px;
        margin-top: 0px;
        margin-bottom: 0PX;
        margin-right: 5px;
        width: 100%;
    }

    .web-devlopment P {
        font-size: 14px !important;
        width: 350px;
    }


}


@media (max-width:375px) {
   

    .web-devlopment P {
        font-size: 16px;
    }
}