.work {
    background-color: #E6edf3;
}

.work-background {
    background: url(../../assets/work/bg.svg);
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}


.work .view-work {
    width: 230px;
    height: 55px;
    font-size: 17px;
    display: flex;
    border: 1px solid #053480;
    color: #053480;
    text-transform: capitalize;

}

.work .view-work:hover {
    background-color: #053480;
    color: white;
    border: none;
}

.card-heading {
    font-size: 24px !important;
    font-weight: 600 !important;
}

.ludo-earn-p {
    align-items: center;
    font-size: 14px !important;
    padding: 1rem;
    color: #053480;
    text-align: center;
}

#heading {
    padding: 1px;
}

.work .card-section {
    max-width: 1200PX;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.work .card {
    position: relative;
    border: 1px solid #053480;
    background-color: white;
    z-index: 0;
    text-align: center;
    margin: 15px;
    width: 350px;
    height: 480px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;



    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        transition: width 0.5s ease, height 0.5s ease;
        z-index: -1;
    }

    &::before {
        top: -5px;
        left: -5px;
        border-top: 1px solid #053480;
        border-left: 1px solid #053480;
    }

    &::after {
        right: -5px;
        bottom: -5px;
        border-bottom: 1px solid #053480;
        border-right: 1px solid #053480;
    }

    &:hover::before,
    &:hover::after {
        width: calc(100% + 9px);
        height: calc(100% + 9px);
    }
}



@media (max-width:1440px) {


    .work .view-work {
        width: 180px;
        height: 45px;
        font-size: 16px;
    }

    .card-heading {
        font-size: 20px !important;
    }

    .ludo-earn-p {
        font-size: 14px !important;
        padding: 0.3rem;
    }

    #heading {
        padding: 1px;
    }

    .work .card-section {
        max-width: 1000PX;
        margin: 1rem 0rem;
    }

    .work .card {

        margin: 10px;
        width: 310px;
        height: 440px;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }




}



@media (max-width:1024px) {
    .work .card-section {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;

    }


    .work .card {
        position: relative;
        border: 1px solid #053480;
        background-color: white;
        z-index: 0;
        text-align: center;
        margin: 15px;
        width: 350px;
        height: 480px;
        padding: 1rem;
    }


    .card-heading {
        font-size: 24px !important;
        font-weight: 600 !important;
    }

    .ludo-earn-p {
        align-items: center;
        font-size: 14px !important;
        padding: 1rem;
        color: #053480;
        text-align: center;
    }

}



@media (max-width:576px) {
    .work .card-section {
        width: 89%;
      
    }


    .work .card {
        position: relative;
        border: 1px solid #053480;
        background-color: white;
        z-index: 0;
        text-align: center;
        margin: 10px 0px;
        width: 300px;
        height: 400px;
        padding: 1rem;
    }


    .card-heading {
        font-size: 20px !important;
        font-weight: 600 !important;
    }

    .ludo-earn-p {
        align-items: center;
        font-size: 12px !important;
        padding: 0.2rem;
        color: #053480;
        text-align: center;
    }
    
    .work .view-work {
        width: 140px;
        height: 35px;
        font-size: 16px;
       }

}